.dt-table td, .dt-table th {
    position: relative;
}

.dt-table.dt-disable-select {
    border-collapse: collapse;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dt-gripX {
    top: 0;
    right: -3px;
    bottom: 0;
    width: 5px;
    position: absolute;
    cursor: col-resize;
    z-index: 1000;
}

.dt-gripY {
    left: 0;
    bottom: -3px;
    right: 0;
    height: 5px;
    position: absolute;
    cursor: row-resize;
    z-index: 1000;
}