body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.footer {
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.header h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer {
    margin-top: 20px;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
    .container {
        max-width: 930px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

@media screen and (min-width: 768px) {
    .header,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}

.pull-right {
    float: right!important;
}

.nav {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-pills>li {
    float: left;
}
.nav>li {
    position: relative;
    display: block;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #337ab7;
}

.nav-pills>li>a {
    border-radius: 4px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

pre {
    background: #dddddd;
    padding: 15px;
}

table {
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #dddddd;
    padding: 10px;
}